/* Custom CSS to replace SCSS */
/* This will contain the styles that were originally in page.scss */
ion-item {
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  .saved-text {
    font-weight: bold;
  }
  
  .table-bordered tbody tr td input[type="text"] {
    max-width: 80px;
    font-size: 14px;
  }
  
  input {
      border: 1px solid #ccc;
  }
  
  .custom-padding-btn {
    padding-top: 1px;  /* Change to your preferred value */
    padding-bottom: 1px;  /* Change to your preferred value */
    text-align: center;
  }
  
  .custom-padding-btn:nth-child(2) {
    margin-left: 5px;
  }
  